.multiply-snake {
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
}

.multiply-snake__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left bottom;
}
