@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/halvar/HalvarBreit-XTh.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/halvar/HalvarBreit-XThSlanted.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/halvar/HalvarBreit-Lt.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/halvar/HalvarBreit-LtSlanted.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/halvar/HalvarBreit-Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/halvar/HalvarBreit-RgSlanted.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/halvar/HalvarBreit-Md.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/halvar/HalvarBreit-MdSlanted.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/halvar/HalvarBreit-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/halvar/HalvarBreit-BdSlanted.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/halvar/HalvarBreit-XBd.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/halvar/HalvarBreit-XBdSlanted.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/halvar/HalvarBreit-Blk.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halvar Breitschrift';
  src: url('../fonts/halvar/HalvarBreit-BlkSlanted.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
