@use './variables.scss' as *;

// Базовый миксин установки параметров текста
@mixin text-style($size, $line-height, $weight, $letter-spacing: null) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;

  @if $letter-spacing !=null {
    letter-spacing: $letter-spacing;
  }
}

// Миксин по типу: передаёшь тип — получаешь стили
@mixin text-style-type($type) {
  @if $type =='heading-1' {
    @include text-style($fs-80, 0.9, $font-weight-bold, tracking-in-px(-1.74, 80));
  }

  @else if $type =='heading-2' {
    @include text-style($fs-50, $fs-50, $font-weight-bold);
  }

  @else if $type =='heading-3' {
    @include text-style($fs-40, 0.9, $font-weight-bold, tracking-in-px(-1.74, 40));
  }

  @else if $type =='body' {
    @include text-style($fs-20, $fs-24, $font-weight-regular);
  }

  @else if $type =='marquee' {
    @include text-style($fs-70, normal, $font-weight-light);
  }

  @else if $type =='button-lg' {
    @include text-style($fs-24, normal, $font-weight-semibold, tracking-in-percent(10));
  }

  @else if $type =='button-xl' {
    @include text-style($fs-32, $fs-24, $font-weight-bold);
  }

  @else if $type =='button-text-20' {
    @include text-style($fs-20, normal, $font-weight-bold);
  }

  @else if $type =='button-text-23' {
    @include text-style($fs-23, normal, $font-weight-bold);
  }

  @else if $type =='input-16' {
    @include text-style($fs-16, normal, $font-weight-bold);
  }

  @else if $type =='input-14' {
    @include text-style($fs-14, normal, $font-weight-bold);
  }
}
