// Базовый миксин установки параметров текста
@mixin text-style($size, $line-height, $weight, $letter-spacing: null) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;

  @if $letter-spacing {
    letter-spacing: $letter-spacing;
  }
}
