@use 'sass:math';

/* Цвета */
$color-dark: #14091a;
$color-yellow: #fee97d;
$color-primary: #9e13e0;
$color-white: #ffffff;
$color-secondary: #0c090e;

/* Шрифты и оформление */
$font-family-base: 'Halvar Breitschrift', Arial, sans-serif;

// Начертание
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$rem-base-px: 2;

// Вспомогательные функции
@function fs($px) {
  @return math.div($px, $rem-base-px) * 1rem;
}

@function tracking-in-px($tracking-in-px, $font-size-px) {
  @return math.div($tracking-in-px, $font-size-px) * 1em;
}

@function tracking-in-percent($percent) {
  @return math.div($percent, 100) * 1em;
}

/* Font size tokens */
$fs-14: fs(14);
$fs-16: fs(16);
$fs-20: fs(20);
$fs-23: fs(23);
$fs-24: fs(24);
$fs-28: fs(28);
$fs-32: fs(32);
$fs-35: fs(35);
$fs-40: fs(40);
$fs-50: fs(50);
$fs-70: fs(70);
$fs-80: fs(80);


// Примеры переменных для встречаемых в дизайне компонентов с текстом
$typo-h1-size: $fs-80;
$typo-h1-line-height: 0.9;
$typo-h1-letter-spacing: tracking-in-px(-1.74, 80);
$typo-h1-weight: $font-weight-bold;

$typo-h2-size: $fs-50;
$typo-h2-line-height: $fs-50;
$typo-h2-weight: $font-weight-bold;

$typo-h3-size: $fs-40;
$typo-h3-line-height: 0.9;
$typo-h3-letter-spacing: tracking-in-px(-1.74, 40);
$typo-h3-weight: $font-weight-bold;

$typo-p-size: $fs-20;
$typo-p-line-height: $fs-24;
$typo-p-weight: $font-weight-regular;

$typo-marquee-size: $fs-70;
$typo-marquee-line-height: normal;
$typo-marquee-weight: $font-weight-light;

$typo-button-lg-size: $fs-24;
$typo-button-lg-line-height: normal;
$typo-button-lg-letter-spacing: tracking-in-percent(10);
$typo-button-lg-weight: $font-weight-semibold;

$typo-button-xl-size: $fs-32;
$typo-button-xl-line-height: $fs-24;
$typo-button-xl-weight: $font-weight-bold;

$typo-button-text-20-size: $fs-20;
$typo-button-text-20-line-height: normal;
$typo-button-text-20-weight: $font-weight-bold;

$typo-button-text-23-size: $fs-23;
$typo-button-text-23-line-height: normal;
$typo-button-text-23-weight: $font-weight-bold;

$typo-input-16-size: $fs-16;
$typo-input-16-line-height: normal;
$typo-input-16-weight: $font-weight-bold;

$typo-input-14-size: $fs-14;
$typo-input-14-line-height: normal;
$typo-input-14-weight: $font-weight-bold;

// Миксин установки основных параметров текста
@mixin text-style($size, $line-height, $weight, $letter-spacing: null) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;

  @if $letter-spacing != null {
    letter-spacing: $letter-spacing;
  }
}
