/* Глобальные стили */
@use './normalize.scss';
@use './fonts.scss';
@use './typography.scss';

body {
  font-family: 'Halvar Breitschrift', Arial, sans-serif;
  background-color: $color-secondary;
}

.container {
  padding-inline: 1.875rem;
}
