/* Глобальные стили */
@use './normalize.scss';
@use './fonts.scss';

html {
  // 1rem = 2px at 1440px viewport (2 / 1440 * 100)
  font-size: 0.13889vw;
}

body {
  font-family: 'Halvar Breitschrift', Arial, sans-serif;
  background-color: $color-secondary;
}
