@use './variables.scss' as *;

.ui-link {
  color: #{$color-main};
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
  font-size: 20rem;
  transition: color 0.15s ease-in-out;

  &--active {
    color: #{$color-white};
  }
  
  @media (hover: hover) {
    &:where([href]):not(&--active):hover {
      color: #{$color-white};
    }
  }
}